<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Recipe Finder</h1>
    <p> Find recipe with one click</p>
    <form action="/recipe" method="get">
        <input type="text" placeholder="Name of the dish" name="dish">
        <button type="submit">Search</button>
    </form>
</body>
</html>